


@font-face {
  font-family: 'Jaapokki';
  src: url('fonts/jaapokki-regular.ttf');
}

@font-face {
  font-family: 'Jaapokki-enchance';
  src: url('fonts/jaapokkienchance-regular.ttf');
}

@font-face {
  font-family: 'Jaapokki-subtract';
  src: url('fonts/jaapokkisubtract-regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  width: 100%;

}

.quotes {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  text-align: center;
  margin: 5px 0;
  padding: 0;
  position: relative;
  color: #223843;

}

@media only screen
and (max-width: 420px) {

  .quotes {
    font-family: 'Josefin Sans', sans-serif;
      font-size: 1em;
      text-align: center;
      color: #223843;
   }

}

h2 {
  font-family: "Jaapokki-subtract";
  font-weight: normal;
  font-size: 8em;
  text-align: center;
  line-height: 90%;
  color: #ef9a8b;
  margin: auto;
  padding: 0;

}

@media only screen
and (max-width: 520px) {

   h2 {
      font-size: 4em;
      text-align: center;
   }

}

h3 {
  font-family: Jaapokki;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  color: #ef9a8b;
  margin: 5px 0;
  padding: 0;
  position: relative;

}

@media only screen
and (max-width: 420px) {

   h3 {
      font-size: 2em;
      text-align: center;
   }

}


.center {
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  width: 960px;
}

@media only screen
and (max-width: 420px) {

   .content {
     margin: 0 auto;
     width: 420px;
   }

}


.content1 {
  margin: 0 auto;
  width: 960px;
  margin-left: 130px;
margin-bottom: 90px;

 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
}

@media only screen
and (max-width: 420px) {

   .content1 {
     margin: 0 auto;
     width: 420px;
   }

}

.clear {
  clear: both;
}

#header {
  width: 100%;
  background-color: #223843;
  height: 80px;
  position: fixed;
  margin-top: 30px;
  z-index: 3;


}
@media (max-width: 320px){
	header{
		/* Reverse the axis of the header, making it vertical. */
		flex-direction: column;
		/* Align items to the begining (the left) of the header. */
		align-items: flex-start;
	}}

#nav {
  width: 600px;
  float: right;
  margin-top: 20px;
  overflow: hidden;
}

#logo {
  float: left;
  margin-top: 10px;
  margin-left: 65px;
  display: block;
  text-decoration: none;
  border: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  position: fixed;
  z-index: 4;


}

#nav ul {
  list-style: none;
  display: block;
  margin: 0 auto;
  list-style: none;
}

#nav li {
  margin-top: 9px;
  float: left;
  padding-left: 0px;
  flex-direction: row;
}

#nav li a {
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  text-decoration: none;
  padding-left: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

#nav li a.active {
  color: #fff;
  opacity: 1;
  align-items: flex-end;
}

#nav li a:hover {
  color: #fff;
  opacity: 1;
}



.quotes_container {
  width: 800px;
  margin: 0 auto;
}

@media only screen
and (max-width: 420px) {

.quotes_container {
     margin: 0 auto;
     width: 420px;
   }

}

#divider {
  background: url('../img/divider.svg')no-repeat;
  width: 300px;
  height: 35px;
  margin: 17px auto 27px auto;
}

@media only screen
and (max-width: 420px) {

   #divider {
     width: 170px;
     height: 15px;
   }

}
#slide1, #slide2 {
  width: 100%;
}

#slide1 {
  background: url('../img/slide1.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
}

@media only screen
and (max-width: 420px) {

   #slide1 {

     width: 100%;
    height: 400px;
    background-size: cover;

   }

}
#s


#slide2 {
  background-color: #fff;
  color: #eff1f3;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0;
}



#slide3 {
  background: url(../img/slide3.jpg) 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  padding: 170px 0 0 0;
  background-size: cover;
}



#slide4 {
  background-color: #eff1f3;
  color: #333333;
  height: 300px;
  padding: 200px 0;
}


#slide5 {
  background: url(../img/slide5.jpg) 50% 0 no-repeat fixed;
  height: 200px;
  margin: 0 auto;
  padding: 250px 0;
  color: #fff;
  background-size: cover;
  z-index: 1;
}


#copyright {
  color: #eff1f3;
  font-family: "Wellfleet";
  font-size: 14px;
  margin-top: 100px;
  text-align: center;
}

#copyright a {
  text-decoration: none;
  color: #223843;;
}

.textarea {
  width: 54em;
  max-width: 54em;
  height: 10em;
  display: block;
  padding: 1.5em;
  border: 0.1em solid #ccc;
  border-radius: 0.3em;
  background-color: #eff1f3;
}

.input-group:hover {
  border-color: #3399FF;
  box-shadow: 0em 0em 0.2em #3399FF;
}

.input-group:active {
  border-color: #006699;
}

.textarea:hover {
  border-color: #3399FF;
  box-shadow: 0em 0em 0.2em #3399FF;
}

.textarea:active {

  border-color: #006699;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  flex-direction: column;



}

.iconcircles .fa {
  flex-direction: column;
    padding-right: : 770px;
    margin-left: 14px;
      margin-right: : 50px;

}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}



.fa-linkedin {
    background: #fff;
    color: #ef9a8b;
    padding: 20px;

}

.fa-twitter {
    background: #fff;
    color: #ef9a8b;
}

.fa-github {
    background: #fff;
    color: #ef9a8b;
}

.fa-envelope {
    background: #fff;
    color: #ef9a8b;
}

.profile{
  width: 300px;
  height: auto;
  padding-right: 40px;

}

@media only screen
and (max-width: 420px) {

  .profile{
    width: 200px;
    height: auto;

  }

}

.austin{
  width: 430px;
  height: auto;
  padding-right: 90px;
}

@media only screen
and (max-width: 420px) {

  .austin {
     width: 400px;
     height: auto;
   }

}
.galleria {
  max-width: 900px;
  height: 600px;
  margin: auto;
}
.galleria1 {
  max-width: 900px;
  height: 600px;
  margin: auto;
  margin-bottom: 200px;
}

.galleria-container {
  background: none;

}


.galleria-theme-classic .galleria-info-link {
    background-position: -669px -5px;
    opacity: .7;
    filter: alpha(opacity=70);
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #ef9a8b;
}
